doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/socket.io-1.2.1.js')
    script(type="text/javascript", src="/javascripts/aws-sdk-2.1.5.min.js")
    
  body(ng-app="blogApp" ng-controller="mainController")
    block content