extends ../layout

block content
  h1= title
  small= notification
  div#instagramContainer
    div.pageLinks
      ul
        li
          a(href="/api/instagram/auth")!="Sign In"
    div#imagesContainer
  script(type="text/javascript" src="/javascripts/components/InstagramApp.js.jsx").
    console.log('hello, render the app component');
  